@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans !important;
  }
  p {
    @apply text-base;
  }
}

html {
  font-size: 16px;
}

@layer components {
}

svg.star-svg {
  display: inline;
}

.markdown-preview a {
  color: #ff7900;
  text-decoration: underline;
  text-decoration-color: #ff7900;
}

.markdown-preview b,
.markdown-preview strong {
  color: #ff7900;
}
